/* The visual styling of the sections */

.box_flex{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  color:var(--font_color_black);
}
.box_flex img{
  width: 3rem;
  margin:0 auto;
}

.process_line{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
  background-color: var(--secondary_bg_3_fade);
border: solid 7px var(--secondary_bg_4);
border-radius: var(--default-b-radius);
outline: solid 2px var(--secondary_bg_2);
padding: 0.5rem;
}

body {
  background-image: linear-gradient(to bottom, #ffffff3a, #ffffff3a), url(img/long2f.svg);
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

}
main{
  min-height: 90vh;
}


#cart_section,
#costumer_section,
#payment_section,
#camping_section {
 display: none;
}

/* MOBILE STYLING DEFUALT */

#camping{
  margin: 0 auto;
  margin: 1rem;
  width: 100%;
  border-radius: var(--btn-radius);
  background-color: var(--primary_bg_1);
border: solid 10px var(--secondary_bg_4);
outline: solid 2px var(--secondary_bg_2);
}

.cart_products {
  margin: 0 auto;
  width: 98%;
  padding: 1rem;
}
.cart_wrapper {
  margin: 3rem 1rem;
  border-radius: var(--btn-radius);
  background-color: var(--secondary_bg_3);
border: solid 10px var(--primary_bg_3);
outline: solid 2px var(--secondary_bg_2);
}

table{
  margin: 0 auto;
  width: 100%;
}

th {
  font-family: "Righteous", cursive;
  font-size: 1.05rem;
  margin: 0 auto;
  padding-right: 0.2rem;
  border-bottom: 2px solid var(--font_color_black);
}

td {
  font-size: 0.8rem;
  vertical-align: bottom;
  text-align: center;
}

#cart_two th {
  display: none;
  border: none;
}

/*------camp area stylingss----*/

.camping_grid {
  display: flex;
  flex-wrap: wrap;
}

.proceed_btn_container{
    display: flex;
    justify-content: center;

}

.c_a,
.c_b,
.c_c,
.c_d,
.c_e {
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
}

.c_a:hover,
.c_b:hover,
.c_c:hover,
.c_d:hover,
.c_e:hover{
  transform: scale(1.2);
}

.c_a:checked,
.c_b:checked,
.c_c:checked,
.c_d:checked,
.c_e:checked {
  background-color: var(--accent_one);
  transform: scale(1.2);
  transition: 1s;
}


.onec, .twoc, .threec, .fourc, .fivec{
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* gap: 0.3rem; */
    
}

.c_a {
  background-image:url("ui_icons/a.svg");
  background-size: 100%;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
}

.c_b {
  background-image:url("ui_icons/a1.svg");
  background-size: 100%;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
}
.c_c {
  background-image:url("ui_icons/a2.svg");
  background-size: 100%;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
}

.c_d {
  background-image:url("ui_icons/a3.svg");
  background-size: 100%;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
}
.c_e {
  background-image:url("ui_icons/a4.svg");
  background-size: 100%;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
}


.unclickable{
  background-color: var(--font_color_black);
  cursor: not-allowed;
  filter: grayscale(1);
}
.unclickable:hover{
  transform: scale(1);

}

.costumer_grid{
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
.payment_grid {
  margin: 0 auto;
  display: grid;
}

tr.total_border td{
  border-bottom: solid 1px;
}

.costumer_form h2{
  font-size: 3rem;
}
.costumer_button,
.cart_button {
  display: grid;
  padding: 0.5rem;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  margin-top: 3rem;
  gap: 0.5rem;
  align-items: center;
}

.costumer_button{
  background-color: var(--secondary_bg_3_fade);
  border-radius: var(--default-b-radius);
  outline: solid 2px var(--secondary_bg_2);
  border: solid 7px var(--secondary_bg_4);
  padding: 1rem;
}

#order_popup, #timesup_popup {
  margin: 0 auto;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: var(--primary_bg_3_fade);
  top: 0;
  left: 0;
  display: none;
}
.order_popup_background {
  position: fixed;
  padding: 2rem;
  margin: 0 auto;
  border: solid 7px var(--secondary_bg_1);
  outline: solid 2px var(--secondary_bg_2);
  border-radius: 6px;
  background-color: var(--secondary_bg_3);
  box-shadow: var(--shadow_out);
  width: 100%;
  top: 50%;
  margin-top: -145px;  /* Negative half of height. */
}
#otherTicket_title{
  display: none;
  font-size: 1.26rem;
  font-weight: 800;
}
.others_form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 99%;
  border-bottom: dashed 2px var(--accent_one);
  padding-bottom: 1rem;
  width: 100%;
}

.order_text {
  text-align: center;
}

.p_buy {
  align-self: center;
}

 #costumer_section form, #payment_section form{
  margin: 0 auto;
}

#customer_first, #payment_section form {
  background-color: var(--primary_bg_3);
  border: solid 10px var(--primary_bg_2);
  outline: solid 2px var(--secondary_bg_2);
  }

  #customer_first{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 99%;
    padding: 1rem;
    border-radius: var(--default-b-radius);
    box-shadow: var(--shadow_out);
  }

  #info_form{
    background-color: transparent;
    box-shadow: none;
  }

    #otherTicket {
    background-color: var(--secondary_bg_4);
    border: solid 10px var(--primary_bg_3);
    outline: solid 2px var(--secondary_bg_2);
    padding: 1rem;
    border-radius: var(--default-b-radius);
    box-shadow: var(--shadow_out);
    }

#camping_section form{
  margin: 2rem auto;
}

/* Small devices (landscape phones, 576px and up) */

@media screen and (min-width: 576px) {

  .order_popup_background {
    width: 500px;
  top: 50%;
  left: 50%;
  margin-top: -145px;  /* Negative half of height. */
  margin-left: -252px;  /* Negative half of width. */
  }

  form {
    gap: 1rem;
    width: 100%;
  }

  .box_flex{
    font-size: 1rem;
  }
  #camping{
    margin: 0 auto;
    margin: 1rem;
  }

  .proces_line img {
    width: 50%;
  }

  .cart_wrapper,
  .payment_wrapper {
    margin: 3rem;
  }



  th {
    font-size: 1.5rem;
    padding: 1rem; 
  }
  
  td {
    font-size: 1rem;
    padding: 1rem; 
  }

  #cart_table{
    width: 80%;
  }

}

/* Medium devices (tablets, 768px and up) */

@media screen and (min-width: 768px) {

 
#costumer_section form, #payment_section form{
  margin: 0 auto;
}
.costumer_wrapper{
  margin: 1rem;
}
.payment_wrapper{
  margin:0;
}
    .costumer_grid{
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: 2fr 1fr;
  }

  .payment_grid{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .payment_info{
    margin:0 1rem;
  }
  .costumer_timer_cart, .payment_timer_card {
    display: grid;
    gap: 3rem;
    justify-content: center;
    align-items: end;
    height: 90%;
    margin-right: 2rem;
}

/*   .credit_card_visual {
    background-image: url("ui_icons/card_visual-01.svg");
    background-repeat: no-repeat;
    background-size: 397px;
    width: 27rem;
    background-position: center;
    height: 19rem;
  } */
}

/* Large devices (desktops, 992px and up) */

@media screen and (min-width: 992px) {
  body{
    background-size: 100%;
    background-position: 55% 75%;
  }

  /*camping styling*/
/*   .camping_grid {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
  } */

  /* STYLING AF POP */
  .order_popup_background {
    width: 630px;
    margin-left: -319px;
    }

  #cart_section,
  #costumer_section,
  #payment_section {
    margin: 0 auto;
  }

  .process_line {
    margin: 4rem;
  }

  .box_flex img {
    width: 5rem;
    margin: auto;
}

  .cart_wrapper
  {
    margin: 0 auto;
    width:80%
    
  }

  .cart_p_checkout {
    margin: 1rem auto;
  }

  .cart_button {
    display: flex;
    gap: 2rem;
    margin: 0 auto;
    padding: 1rem;
  }

  ._productcarts {
    background-image: url("ui_icons/ticket_cart.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 62rem;
    height: 18rem;
    background-size: 67rem;
    display: grid;
    padding: 1rem;
    gap: 1rem;
  }

  .costumer_grid{
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    width:90%;
  }

  .payment_grid{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .costumer_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 18rem;
  }

  .costumer_timer_cart,
  .payment_timer_card {
    display: grid;
    gap: 3rem;
    justify-content: center;
  }



 /*  .credit_card_visual {
    height: 14rem;
  } */


  .order_text {
    text-align: center;
  }

  #cart_table{
    width: 80%;
    padding: 1rem;
  }
}






  /*  Styling of timer and making it responsive */
  #timer_section{
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
  }
  .timegrid {
    background-color: var(--secondary_bg_2);
    text-align: center;
    padding: 0;
    font-size: 5rem;
    outline: solid 2px var(--secondary_bg_2);
    border: solid 3px var(--secondary_bg_3);
    border-radius: var(--default-b-radius);
    width: 100%;
  }
  .timegrid p {
    color: var(--primary_bg_1);
    }
  .timer {
    width: 100%;
    font-family: 'Righteous', cursive;
  font-size: 2rem;
  color: var(--primary_bg_1);
  padding: 0.5rem;
    }

    #info_form h2{
      font-size: 2.1rem;
    }

    @media screen and (min-width: 412px){
      #info_form h2{
        font-size: 2.9rem;
      }
    }

    @media screen and (min-width: 768px){
      #timer_section{
        width: 0;
        top: 349px;
        left: 63%;
      }
      
  .timegrid {
    width:260px;
    padding: 1rem;
      }
    }

    @media screen and (min-width: 992px){
      #timer_section{
        top: 430px;
        left: 71%;
      }
      
  .timegrid {
    width:260px;
      }
    }

@media screen and (min-width: 1100px){
  #timer_section{
    top: 431px;
    left: 63%;
  }

  .timegrid {
   width:320px;

    }
}



