body{
  background-image: linear-gradient(to bottom, #ffffff3a, #ffffff3a), url(img/doublemountain.svg);
  background-size: 105%;
background-position: 0% -0%;
background-repeat: no-repeat;
}
.name_wrapper {
  display: flex;
  flex-direction: column;
}

.name_wrapper h1 {
  text-align: center;
}

/*flexbox for img and info*/
.artist_info_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: var(--default-b-radius);
  border: solid 7px var(--secondary_bg_4);
  outline: solid 2px var(--secondary_bg_2);
}

.img_wrapper {
  flex: 1 0 100%;
  background-color: var(--primary_bg_3);
  box-shadow: var(--shadow_inset);
 
}
#bandImage {
  padding-top: 0.5rem;
  width: 100%;
}

.logo_credits {
  font-size: 0.7rem;
  padding: 0.5rem;
}

.label {
  font-weight: bold;
}

.genre_text {
  font-weight: 400;
}

#info_group_first {
  flex: 1 0 12rem;
  min-width: max-content;
}

#bio {
  line-height: 1.3rem;
  padding: 0.8rem;
}

.info {
  margin: 1rem;
}

#back_arrow {
  color: var(--btn_font_hover);
  margin: 1.5rem 0.5rem;
  width: min-content;
  height: min-content;
  box-shadow: none;
}

#back_arrow svg{
  width: 2rem;
 
}

/*-----tablet and small desktop----------*/
@media screen and (min-width: 768px) {
  .name_wrapper {
    padding: 2rem;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }
  .artist_info_wrapper {
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 2rem;
    background-color: var(--primary_bg_1);
    box-shadow: var(--shadow_inset);
    border-radius: 1rem;
    margin: 0 2rem;
  }

  .img_wrapper {
    background-color: transparent;
    box-shadow: none;
    padding: 1rem;
    flex: 0 1 25rem;
  }

body{
 
    background-size: 140%;
    background-position: 20% 10%;
    background-repeat: no-repeat;
}
  

}

/*-------desktops-----------*/
@media screen and (min-width: 1200px) {
  body{
    
    background-size: 105%;
  background-position: 10% 50%;
  background-repeat: no-repeat;
  }
  .artist_info_wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 2rem;
    align-items: flex-start;
  }

  .info {
    align-self: center;
    margin: 4rem auto;
  }

  .img_wrapper {
    padding: 2.5rem;
    flex: 0 1 30rem;
  }

  #bio {
    flex: 0 1 40rem;
  }
}
