:root {
  /*  PRIMARY COLORS */
  --primary_bg_1: #fffdfc;
  --primary_bg_2: #efb541;
  --primary_bg_3: #e79da9;
  --font_color_black: #312f30;
  --font_color_white: white;
  /*  SECONDARY COLORS */
  --secondary_bg_1: #2b729b;
  --secondary_bg_2: #312f30;
  --secondary_bg_3: #f6e1ce;
  --secondary_bg_4: #35a293;

  --secondary_bg_1_fade: #2b729bd2;
  --secondary_bg_3_fade: #f6e1cedc;
  --secondary_bg_4_fade: #35a293ed;
  --primary_bg_1_fade: #fffdfcc3;
  --primary_bg_2_fade: #efb541d8;
  --primary_bg_3_fade: #e79da9da;

  /*  ACCENT COLORS BUTTONS AND LINKS */
  --accent_one: #B600E8;
  --accent_two: #B600E8;
  --accent_three:#0B13E3;

  /* button */
  --btn_hover_bg: var(--primary_bg_1);
  --btn_font_hover: var(--accent_two);
  --btn_bg: var(--accent_two);
  --btn_font: var(--primary_bg_1);
  --btn_inset_shadow: inset 2px 1.5px 6px rgba(255, 255, 255, 0.545);
  --btn_out_shadow: 1px 3px 4px rgba(0, 0, 0, 0.418);
  --btn_check_bg: var(--btn_bg);
  --btn_check_font: var(--accent_two);
  --btn_check_inset: inset 2px 2px 5px rgba(0, 0, 0, 0.274);
  /* link */
  --link_color: black;
  --link_td_color: var(--accent_one);
  --link_visit_color: var(--accent_three);
  --link_select_color: var(--link_td_color);
  /* SHADOWS AND INPUTS */
  --shadow_out: 8px 8px 15px rgba(0, 0, 0, 0.477);
  --shadow_inset: white;
  --input_inset: inset 1px 1px 3px rgba(0, 0, 0, 0.199);
  --input_bg: rgb(255, 255, 255);
  --input_valid: rgb(208, 255, 191);
  --input_invalid: rgb(255, 202, 202);
  --font_color_nfocus: grey;

  /* ALL MARGIN SIZES AND OTHER VALUES */
  --main-d-margin: 0;
  --margin-auto: 0 auto;

  --default-b-radius: 6px;
  --btn-radius: 25px;
}

/* MAIN STYLING */
body {
  margin: var(--margin-auto);
  background-color: var(--primary_bg_1);
 
}

main {
  margin: var(--margin-auto);
  max-width: 1200px;
}

* {
  box-sizing: border-box;
}

/* All them fonts */
@font-face {
  font-family: bellyBeans;
  src: url(fonts/bellybeans_1_.woff);
}

/* Font hierarchy for mobile and tablet major third scale 1.250 */
h1 {
  color: var(--font_color_black);
  font-family: bellyBeans;
  font-size: 3.852rem;
  margin: 1rem;
}

h2 {
  color: var(--font_color_black);
  font-family: "Righteous", cursive;
  font-size: 2.441rem;
  margin: 1rem;
}

h3 {
  color: var(--font_color_black);
  font-family: "Open Sans", sans-serif;
  font-size: 1.953rem;
  margin: 1rem;
}

h4 {
  color: var(--font_color_black);
  font-family: "Open Sans", sans-serif;
  font-size: 1.563rem;
  margin: 1rem;
}

p {
  color: var(--font_color_black);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 1rem;
  cursor: context-menu;
}

li {
  color: var(--font_color_black);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0.5rem;
}

table {
  font-family: "Open Sans", sans-serif;
}

label {
  color: var(--font_color_black);
  font-family: "Open Sans", sans-serif;
  margin: 1rem;
}

/* FORM AND INPUT STYLING */

input {
  width: 100%;
  height: 2rem;
  border-radius: var(--default-b-radius);
  list-style: none;
  border: none;
  box-shadow: var(--input_inset);
  transition: 0.5s;
  background-color: var(--input_bg);
  padding: 15px;
}

input[type="text"]:required:valid {
  background: var(--input_valid);
}

input[type="text"]:required:valid:focus {
  border: none;
}

input[type="text"]:focus {
  border: none;
}

input[type="text"]:focus:invalid {
  border: none;
  background: var(--input_invalid);
  animation: bounce 0.5s;
}

input[type="text"]:focus {
  color: var(--font_color_black);
  box-shadow: --input_inset;
  border: solid 0.5px;
  outline: transparent;
  transition: 0.5s;
  background-color: var(--input_bg);
}

input[type="text"]:not(:focus) {
  color: var(--font_color_nfocus);
}

input[type="text"]:optional:focus {
  border: none;
}

input[name="cvc"] {
  width: 3.2rem;
}

input[name="date"] {
  width: 4rem;
}

.date_cvc {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

label {
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 99%;
  padding: 1rem;
  border-radius: var(--default-b-radius);
  background-color: var(--primary_bg_3);
  box-shadow: var(--shadow_out);
}

input,
form,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}

/*error message style and animation*/
.errmsg p {
  color: var(--accent_two);
  font-size: 0.9rem;
  font-weight: 600;
  background-color: var(--input_invalid);
  padding: 0.8rem;
  max-width: 100%;
  border-radius: 5px;
  animation: shake 0.2s;
  animation-iteration-count: 2;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(1deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-1deg);
  }
  80% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

/* UI AND LINK STYLING */

button {
  font-family: "Righteous", cursive;
  font-weight: 100;
  width: 9rem;
  padding: 0.8rem;
  border: none;
  border-radius: var(--btn-radius);
  box-shadow: var(--btn_inset_shadow), var(--btn_out_shadow);
  color: var(--btn_font);
  background-color: var(--btn_bg);
  cursor: pointer;
}

button:active {
  color: var(--btn_check_font);
  background-color: var(--btn_check_bg);
  box-shadow: var(--btn_check_inset);
}

/* unvisited link */
a {
  font-family: "Righteous", cursive;
  font-size: 20px;
  color: var(--primary_bg_1);
  letter-spacing: 1.5px;
  text-decoration: none;
  -webkit-text-stroke-color: var(--secondary_bg_2);
  -webkit-text-stroke-width: 1.3px;
  transition: 1s;
}

nav a{
  color: var(--font_color_black);
  -webkit-text-stroke-color: transparent;
  transition: 0.1s;
}

nav a:hover{
  color: var(--primary_bg_1);
  -webkit-text-stroke-color: transparent;
  text-shadow: none;
  transition: 0.1s;
}

/* mouse over link */
a:hover {
  color: var(--secondary_bg_2);
  transition: 1s;
  text-shadow: var(--btn_out_shadow);
}

/* visited link */
/* a:visited {
  color: var(--link_visit_color);
  text-decoration: none;
} */

/* selected link */
/* a:active {
  color: var(--link_td_color);
  text-decoration-color: var(--link_td_color);
} */

select {
  height: 2rem;
}

/* Navigation */
/*navigation top menu*/
.top-nav p {
  font-family: "Righteous", cursive;
  font-size: 1rem;
  color: var(--secondary_bg_2);
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
/*   background-image: url("ui_icons/n.svg");
  background-position: bottom;
  background-repeat:repeat-x;
  background-size: 390px;  */
  background-color: var(--primary_bg_1_fade);
  border-bottom: solid 2px var(--secondary_bg_2);
  /* color: var(--accent_two); */
  height: 50px;
  padding: 1.5em;
}

#cart_ui {
  background-image: url("ui_icons/cart_nav.svg");
  width: 2rem;
  height: 1.9rem;
  background-repeat: no-repeat;
  margin-right: 1rem;
  margin-top: 0.3rem;
  animation: none;
  transition: 2s;
}

#cart_ui:hover {
  transition: 1s;
  animation: pulse 1s infinite;
}

#logo {
  background-image: url(ui_icons/logo.svg);
  margin-top: 0.1rem;
  width: 2.5rem;
  height: 2.32rem;
  background-repeat: no-repeat;
  transition: 0.1s;
}

#logo:hover {
  transform: rotate(360deg) scale(1.05);
  transition: 1s;
}

.left-nav {
  display: flex;
  width: 100%;
  grid-gap: 3em;
  align-items: center;
  justify-content: flex-start;
}

.menu {
  position: absolute;
  z-index: 1;
  top: 0;
  margin-top: 50px;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.menu > li {
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  background-color: var(--primary_bg_1);
}

.menu a{
  color: var(--font_color_black);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.menu > li:hover {
  background-color: var(--accent_one);
  text-decoration: none;
}

.menu-button-container {
  display: flex;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--accent_two);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: var(--accent_two);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

#menu-toggle ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ .menu li {
  height: 2.5em;
  padding: 0.5em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

/* Footer */
footer {
  display: flex;
  padding: 2.5vh 3rem;
  align-items: top;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  justify-content: center;
  background-color: var(--primary_bg_1_fade);
  margin-top: 5vh;
  border-top: solid 2px var(--secondary_bg_2);

 }


footer .footer_logo {
  height: 4rem;
  width: 4.3rem;
  padding: 1.2rem;
  background-image: url("ui_icons/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

footer ul {
  list-style: none;
  padding-left: 0.5rem;
}

footer section.left {
  display: flex;
  max-width: 50vw;
  align-items: top;
  flex-wrap: wrap;
  justify-content: flex-end;
}

footer section.right {
  flex: 1 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Overall styling desktop */
@media screen and (min-width: 992px) {
  footer {
    justify-content: space-between;
  }

 

  /* desktop font hierachy perfect fifth ratio */
  h1 {
    font-size: 7.594rem;
  }

  h2 {
    font-size: 5.063rem;
  }

  h3 {
    font-size: 3.375rem;
  }

  h4 {
    font-size: 2.25rem;
  }

  button:hover {
    color: var(--btn_font_hover);
    background-color: var(--btn_hover_bg);
  }

  button {
    width: 10rem;
    padding: 1rem;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media screen and (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */

@media screen and (min-width: 768px) {
  main {
    margin: 3rem;
  }

  /* Footer */
  footer {
    justify-content: space-between;
  }

  footer section.right {
    flex: 1 0 50%;
    justify-content: flex-start;
  }
}

/* Large devices (desktops, 992px and up) */

@media screen and (min-width: 992px) {
  main {
    margin: 3rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */

@media screen and (min-width: 1200px) {
  main {
    margin: 0 auto;
  }
}

/* ALL ANIMATION KEYFRAMES */

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-5px);
  }
  60% {
    -webkit-transform: translateY(-2px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95) rotate(2deg);
  }

  70% {
    transform: scale(1) rotate(2deg);
  }

  100% {
    transform: scale(0.95) rotate(2deg);
  }
}

/* TAKEN FROM ONLINE CREATORS AND EDITED MOBILE DEFAULT */

/* https://codepen.io/alvarotrigo/pen/PoKMyWE */

.highligt_anim {
  height: 5rem;
  margin: var(--margin-auto);
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 300px;
}

.message {
  color: var(--primary_bg_1);
  font-family: bellyBeans;
  text-align: center;
  font-size: 3rem;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  width: 300px;
  top: 0.4rem;
  animation: openclose 8s infinite alternate-reverse;
}
.word2,
.word3 {
  font-family: bellyBeans;
}
.word1,
.word6 {
  font-family: "Times New Roman", Times, serif;
}

/*  Line up top 0.4, led zep top -4.3, beatles top -9 */

@keyframes openclose {
  0% {
    top: 0.4rem;
  }
  10% {
    top: 0.4rem;
  }
  20% {
    top: 0.4rem;
  }
  30% {
    top: -4rem;
  }
  35% {
    top: -4rem;
  }

  40% {
    top: -4rem;
  }

  45% {
    top: -8.5rem;
  }
  50% {
    top: -8rem;
  }

  55% {
    top: -8.5rem;
  }
  60% {
    top: -13rem;
  }
  65% {
    top: -13rem;
  }
  70% {
    top: -13rem;
  }

  75% {
    top: -17.5rem;
  }
  80% {
    top: -17.5rem;
  }
  85% {
    top: -17.5rem;
  }
  90% {
    top: -22.5rem;
  }
  95% {
    top: -22.5rem;
  }
  100% {
    top: -22.5rem;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media screen and (min-width: 576px) {
  .highligt_anim {
    margin: 0 auto;
    height: 6rem;
    width: 500px;
  }

  .message {
    text-align: center;
    font-size: 4rem;
    width: 500px;
    animation: openclose 10s infinite alternate-reverse;
  }
  .word2,
  .word3 {
    font-family: bellyBeans;
  }
  .word1,
  .word6 {
    font-family: "Times New Roman", Times, serif;
  }

  /*  Line up top 0.4, led zep top -4.3, beatles top -9 */

  @keyframes openclose {
    0% {
      top: 0.4rem;
    }
    10% {
      top: 0.4rem;
    }
    20% {
      top: 0.4rem;
    }
    30% {
      top: -5.5rem;
    }
    35% {
      top: -5.5rem;
    }

    40% {
      top: -5.5rem;
    }

    45% {
      top: -11.5rem;
    }
    50% {
      top: -11.5rem;
    }

    55% {
      top: -11.5rem;
    }
    60% {
      top: -17.5rem;
    }
    65% {
      top: -17.5rem;
    }

    70% {
      top: -17.5rem;
    }

    75% {
      top: -23.5rem;
    }
    80% {
      top: -23.5rem;
    }
    85% {
      top: -23.5rem;
    }
    90% {
      top: -30rem;
    }
    95% {
      top: -30rem;
    }
    100% {
      top: -30rem;
    }
  }
}

/* Large devices (desktops, 992px and up) */

@media screen and (min-width: 992px) {
  .highligt_anim {
    margin: 0 auto;
    height: 9rem;
    width: 900px;
  }

  .message {
    text-align: center;
    font-family: bellyBeans;
    font-size: 6rem;
    width: 900px;

    animation: openclose 12s infinite ease-in-out /* alternate-reverse */;
  }
  .word2,
  .word3 {
    font-family: bellyBeans;
  }
  .word1,
  .word6 {
    font-family: "Times New Roman", Times, serif;
  }

  /*  Line up top 0.4, led zep top -4.3, beatles top -9 */

  @keyframes openclose {
    0% {
      top: 0.4rem;
    }
    10% {
      top: 0.4rem;
    }
    20% {
      top: 0.4rem;
    }
    30% {
      top: -8.5rem;
    }
    35% {
      top: -8.5rem;
    }

    40% {
      top: -8.5rem;
    }

    45% {
      top: -17.5rem;
    }
    50% {
      top: -17.5rem;
    }

    55% {
      top: -17.5rem;
    }
    60% {
      top: -26.5rem;
    }
    65% {
      top: -26.5rem;
    }

    70% {
      top: -26.5rem;
    }

    75% {
      top: -35.5rem;
    }
    80% {
      top: -35.5rem;
    }
    85% {
      top: -35.5rem;
    }
    90% {
      top: -45rem;
    }
    95% {
      top: -45rem;
    }
    100% {
      top: -45rem;
    }
  }
}
